body{
  color: white;
  font-family: 'Work Sans', sans-serif;
  background-image: linear-gradient(180deg,rgba(40,47,182,1), rgba(27,91,193,1));
  background-size: cover;
   /* background: url(../img/atlanta.jpg)repeat 0px 0px; */
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

header {
  display:flex;
  padding-bottom: 10px;
}

h1{
  font-size: 36px;
  margin-left: 20px;
}

h2{
  font-size: 32px;
  margin-left: 20px;
}

#forecast-container{
  display:flex;
}

section{
  margin-bottom: 20px;
  margin-left: 20px;
  background: rgba(0, 0, 0, .3);
  border-radius: 15px;
  padding: 20px;
  width: 25%;
  text-align: center;
}

.form-container{
  width: 400px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 95%;
}

.title{
  width: 75%;
}

.today-container{
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, .3);
  border-radius: 15px;
  padding: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.status-container-left{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.status-container-right{
  display: flex;
  flex-direction: row;
  text-align: center;
  line-height: 40px;
  padding-top: 25px;
  padding-left: 20px;
}

.weather-updates-left{
  padding-left: 20px;
}

.fa-lg{
  height: 50px;
}


#location{
  margin-right: 5px;
}

#city{
  font-size: 40px;
  margin: 10px;
}

#today-temp{
  font-size: 90px;
}

#today-status{
  font-size: 24px;
}

#today-windspeed{
  font-size: 26px;
  padding-bottom: 15px;
  padding-left: 100px;
}

#today-humidity{
  font-size: 26px;
  padding-bottom: 15px;
  padding-left: 60px;
}

#today-uv{
  font-size: 26px;
  padding-left: 60px;
}

#current-date{
  margin-top: 7px;
  margin-left: 37px;
}

#forecast-title{
  padding-bottom: 10px;
}

#city-name {
color: #fff;
font-size: 16px;
background:rgba(0, 0, 0, .5);
border: 1px rgba(0, 0, 0, 0.34);
border-radius: 25px;
padding: 0px 2em;
margin: 0;
height: 40px;
line-height: 40px;
vertical-align: middle;
}

#search-btn{
	height:40px;
	width:40px;
	border:0;
	cursor:pointer;
	filter:alpha(opacity=85);
	opacity:0.85;
	background:transparent url(../img/search-icon.png) center center no-repeat;
  vertical-align: middle;
  margin: 0;
}

.future-date{
  font-size: 26px;
  padding-bottom: 15px;
}

.future-temp{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 7px;
}

.future-status{
    font-size: 20px;
    padding-bottom: 7px;
}

.future-humidity{
    font-size: 20px;
    padding-bottom: 7px;
}

@media (max-width: 1200px) {
  #today-windspeed{
    font-size: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  #today-humidity{
    font-size: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  #today-uv{
    font-size: 20px;
    padding-left: 20px;
  }
  .future-date{
    font-size: 16px;
    padding-bottom: 15px;
  }

  .future-temp{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 7px;
  }

  .future-status{
      font-size: 16px;
      padding-bottom: 7px;
  }

  .future-humidity{
      font-size: 16px;
      padding-bottom: 7px;
  }
}

@media (max-width: 993px) {
  .title{
    width: 50%;
    padding-left: 10px;
  }
  h1{
    font-size: 26px;
  }
  .form-container{
    width: 50%;
  }
  .status-container-right{
    padding-top: 10px;
    flex-direction: column;
    text-align: right;
    padding-top: 0px;
  }
  .future-humidity{
    line-height: 20px;
  }
  #today-temp{
    font-size: 80px;
  }
  #today-windspeed{
    padding-bottom: 0px;
    text-align: center;
  }

  #today-humidity{
    padding-bottom: 0px;
    text-align: center;
  }

  #today-uv{
    text-align: center;
  }
}

@media (max-width: 768px) {
  .title{
    width: 100%;
  }
  #city-name{
    width: 70%;
  }
  .form-container{
    width: 350px;
  }
  header{
    font-size: 26px;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
  }
  .today-container{
    text-align: center;
  }
  #current-date{
    margin-left: 0px;
  }
  .status-container-right{
    display: block;
    text-align: left;
    padding-left: 0px;
    padding-top: 10px;
  }
  .status-container-left{
    text-align: center;
    display: block;
    margin-top: 0px;
  }
  #forecast-container{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    text-align: left;
    padding-left: 15px;
  }
  h2{
    font-size: 26px;
    text-align: center;
  }
  section{
    width: 17%;
    margin-left: 6px;
    padding: 5px;
  }
  .future-date{
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 15px;
  }

  .future-temp{
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 7px;
  }

  .future-status{
      font-size: 11px;
      padding-bottom: 7px;
  }

  .future-humidity{
      font-size: 11px;
      padding-bottom: 7px;
  }
  #city{
    font-size: 30px;
  }
  #today-temp{
    font-size: 70px;
    padding-bottom: 10px;
  }
}

@media (max-width: 600px) {
  header{
    padding-left: 10%;
  }
  .title{
    width: 100%;
  }
  .form-container{
    width: 350px;
  }
  #forecast-title{
    font-size: 20px;
  }
  #forecast-container{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    text-align: left;
    padding-left: 10px;
  }
  .future-date{
    font-size: 10px;
  }

  .future-temp{
    font-size: 10px;
  }

  .future-status{
      font-size: 10px;
  }

  .future-humidity{
      font-size: 10px;
  }
  #city-name{
    width: 60%;
  }
}
